.list-group-item{
   display: flex;
    flex-direction: column;
  justify-content: space-between;
  width:80%;
  margin-left: 300px;
 
  margin: 1.2rem 2.3rem .5rem;
    }
    
    .list-group{
      display: flex;
      flex-wrap: wrap;
      
      justify-content: space-between;
      margin: 4.4rem 10%;
      
    }
    
    