.jumbotronnew{
    display: flex;
    background-image: url("../../assets/daan-evers-tKN1WXrzQ3s-unsplash.jpg");
    
    background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
    justify-content: center;
    width:100%;
    min-height: 350px;
}