.list-group-item{
  display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    
    margin: 0 .5rem 2.3rem .5rem;
}
.list-group{
    display: flex;
    text-align: center;
}