.list-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4.4rem 10%;
  
}
.list-group-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  margin: 0 .5rem 2.3rem .5rem;
  }